[MESSAGES CONTROL]
disable=bad-continuation, import-error, invalid-name, locally-disabled,
    missing-docstring, no-self-use, too-many-locals, too-many-branches,
    too-many-instance-attributes, too-many-statements
